importFrom(combinat, xsimplex)

export(CRSM)
export(dLRT)
export(gmc)
export(LRT)
export(MPRM)
export(MPRMl)
export(person_par)
export(simCRSM)
export(simMPRM)
export(weight_test)

S3method(person_par, CRSM)
S3method(person_par, MPRM)
S3method(gmc, CRSM)
S3method(gmc, aLR)
S3method(summary, CRSM)
S3method(summary, MPRM)
S3method(print, CRSM)
S3method(print, MPRM)
S3method(print, aLR)
S3method(summary, aLR)
S3method(print, wt)
S3method(summary, wt)
S3method(summary, dLR)
